.outerbox
{
    /* border: 2px solid black; */
	width:100%;
    position: relative;
	height: 36px;
	overflow: hidden;
	/* z-index:45; */
}
.sliderbox 
{
    /* border: 2px solid red; */
	background-color: white;
	position: relative;
	width:6997px;
    height: 36px;
	animation-name: slide;
	animation-duration: 130s;
	animation-iteration-count: infinite;
	z-index:45;
}	

@keyframes slide
{    
    
	from
	{
		left:0px;
	}
    to
	{
		left:-6997px;
	}
	
}


